---
title: Projects
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
	<ul class="mix-filter">
	  <li data-filter="all" class="filter active">所有项目</li>
	  <li data-filter="category_1" class="filter">开源项目</li>
	  <li data-filter="category_2" class="filter">建筑划项目</li>
	  <li data-filter="category_3" class="filter">其他项目</li>
	  <li data-filter="category_3 category_1" class="filter">Mod</li>
	</ul>
	
	<div class="row mix-grid thumbnails">
	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/815c0e17237b4dec6c0d3fe87ac3cea20b3b642a5030-L7MSLu_fw658.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>YDWE-Lua 仿暗黑2仿暗黑类游戏 随机词缀属性装备系统。</h4>
		<p>lua实现的魔法书装备系统，目前支持10人，可由需求增加。</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>YDWE-Lua 仿暗黑类游戏 随机词缀属性装备系统。</h2>
		<p>1：lua实现的魔法书装备系统，目前支持10人，可由需求增加。
				2：lua实现的属性系统。可以修改英雄的力量，智力，敏捷，攻击速度，移动速度，生命，生命上限，魔法，魔法上限，魔法抗性，攻击力，护甲。
				3：lua实现随机装备系统。支持最多11种装备，模拟暗黑类游戏的随机词缀系统随机生成装备属性。</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>后续将添加：
						1：套装系统
						2：更合理的词缀名称
						3：更合理的图标系统
						4：宝石镶嵌系统
						5：符文之语本</span>
		  </div>
		  
		</div>
		
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                       
		</div>
		



	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>谷歌输入法蒙古语插件</h4>
		<p>谷歌输入法蒙古语插件</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>               
	      <div class="mix-info container">
		<h2>Project Name</h2>
		<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor
		incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde
		omnis iste natus error sit voluptatem.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-7 quote-v1-inner">
		    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
		  </div>
		  <div class="col-md-5 quote-v1-inner text-right">
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-rocket margin-right-10"></i>Adipiscing</a>
		    <a href="javascript:;" class="btn-transparent"><i class="fa fa-gift margin-right-10"></i>Get it FREE</a>
		  </div>
		</div>
		<div class="row front-lists-v2 margin-bottom-15">
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-html5"></i> HTML5/CSS3</li>
		      <li><i class="fa fa-bell"></i> Web Deisgn</li>
		      <li><i class="fa fa-globe"></i> Web Development</li>
		      <li><i class="fa fa-shopping-cart"></i> Shoping Cart</li>
		    </ul>
		  </div>
		  <div class="col-md-6">
		    <ul class="list-unstyled">
		      <li><i class="fa fa-dropbox"></i> Free Storage</li>
		      <li><i class="fa fa-cloud"></i> Cloud Hosting</li>
		      <li><i class="fa fa-comments"></i> Free Support</li>
		      <li><i class="fa fa-star"></i> Awesome UI</li>
		    </ul>
		  </div>
		</div>
		<a class="btn btn-lg btn-primary" style="color: white;" href="javascript:;"> Visit Project</a>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                    
		</div>
		


	  
		


	  <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/dl.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>大理洱海生态城</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>                  
	    </div>                      
		</div>
		

		<div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
				<div class="mix-inner">
					<img alt="" src="/metronic/assets/pages/img/works/tts.jpg" class="img-responsive">
					<div class="mix-details">
			<h4>大理洱海生态城</h4>
			<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
			<a class="mix-link"><i class="fa fa-link"></i></a>
			<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
					</div>                  
				</div>                      
			</div>


	 
		


	  <div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/img6.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>Cascusamus et iusto odio</h4>
		<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project4" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>     
	    </div>                                   
		</div>
		


	  
		


	  
		


	 
		


	</div>
      </div>
    </div>
  </div>
</div>
