---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
	  <h1> <b class="require">8 years of industry experience</b></h1>
	  <h4 class="wow fadeIn">What hurts more,  the pain of hard work,  or the pain of regret?     I can do all things！</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="/metronic/assets/pages/img/frontend-slider/ipadmini.png">
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row service-box margin-bottom-40">

      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>Architectural Design</span>
	</div>

	<p></p>
	  <img class="img-responsive"
	  src="/asset1.png">
			</div>
			

      <div class="col-md-4 col-sm-4">	
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Planning Landscape</span>
	</div>
	<p></p>
	  <img class="img-responsive"
	  src="/asset3.jpg">
			</div>
			

      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Effect drawing of Building</span>
	</div>
	<p></p>
	  <img class="img-responsive"
		src="/asset1.jpg">
	</div>

	
    </div>
		</div>
		

<div class="container-fluid">
<div class="row margin-bottom-40 row-corporate bg-light-2">
  <div class="container">
    <div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
      <img src="/metronic/assets/pages/img/frontend-slider/iphone_right.png">
    </div>
    <div class="col-xs-6 row-corporate-text-container">
    <div class="row-corporate-text">
      <h1> <b class="wow fadeIn require">make architecture great again </b>.</h1>
      <h4 class="wow fadeIn">No matter what anybody tells you, ideas can change the world.</h4>
    </div>
    </div>
  </div>
</div>
</div>


<div class="main">
  <div class="container">
    <!-- BEGIN STEPS -->
    <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step1">
	  <h2>Concept</h2>
	  <p></p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step2">
	  <h2>Doctrine</h2>
	  <p></p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step3">
	  <h2>Idea</h2>
	  <p></p>
	</div>
      </div>
    </div>
    <!-- END STEPS -->

    <!-- BEGIN RECENT WORKS -->
    <div class="row recent-work margin-bottom-40">
      <div class="col-md-3">
	<h2 class="wow fadeIn"><a href="/projects/">Recent Work</a></h2>
	<p class="wow fadeIn"></p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel3">
		
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img1.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>YDWE Lua</strong>
	      <b>仿暗黑装备系统.</b>
	    </a>
		</div>
		
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img2.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>谷歌输入法插件</strong>
	      <b>蒙古语插件.</b>
	    </a>
	  </div>
	  
	</div>       
      </div>
    </div>   
    <!-- END RECENT WORKS -->

    <!-- BEGIN TABS AND TESTIMONIALS -->
    <div class="row mix-block margin-bottom-40">
      <!-- TABS -->
      <div class="col-md-7 tab-style-1">

      </div>
      <!-- END TABS -->

      <!-- TESTIMONIALS -->
      <div class="col-md-5 testimonials-v1">
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    
	  
	    
	  </div>

	  <!-- Carousel nav -->
	  <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
	  <a class="right-btn" href="#myCarousel" data-slide="next"></a>
	</div>
      </div>
      <!-- END TESTIMONIALS -->
    </div>                
    <!-- END TABS AND TESTIMONIALS -->
    <!-- BEGIN BLOCKQUOTE BLOCK -->   
    <div class="row quote-v1 margin-bottom-40 ">
      <div class="col-md-9">
	<span>Pursue simple design, hate complexity - complex design, is the root of evil, difficult to achieve, difficult to maintain, do not understand...</span>
      </div>
      
    </div>
    <!-- END BLOCKQUOTE BLOCK -->


    <!-- BEGIN CLIENTS -->
    
    <!-- END CLIENTS -->
  </div>
</div>

